@model IList<AgileTickets.Web.Models.Espetaculo>
@{
    ViewBag.Title = "Espetáculos";
}

<h2>Espetáculos</h2>

<table width="100%">

    <tr>
        <td width="30%">Nome</td>
        <td width="40%">Descrição</td>
        <td width="30%">Estabelecimento</td>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
            <td>@item.Estabelecimento.Nome</td>
        </tr>
    }
</table>