@{
    ViewBag.Title = "Sobre o AgileTicketsAgileTickets";
}

<h2>Sobre o AgileTickets</h2>
<p>
     Projeto desenvolvido para o curso PM-87 da Caelum | Ensino e Inovação.
</p>
<p>
Em caso de dúvidas, entre em contato através do site <a href="http://www.caelum.com.br">caelum.com.br</a> !
</p>
